{{/*
Generate asciidoc for all fields (public and private) in a namespace .yaml file.
Private fields are marked with ⚠.
*/}}
{{- define "marker"}} {{- and (default "" (index .field "private")) "⚠" }} {{end -}}
