{{/* Generate asciidoc for public fields in a namespace .yaml file */}}
{{define "fieldContent"}}
{{- if (index .field "private") | bool | not}}
{{- template "defaultFieldContent" .}}
{{end -}}
{{end -}}
